- model_class = Chapter
= form_tag search_path, :method => :get, :html => { :class => 'form-vertical' } do |f|
  .control-group.pull-right{style: 'margin-top: 10px;'}
    = text_field_tag :search, params[:search], :placeholder => 'Enter search string', :class => 'text_field', style: 'margin-top: 10px;'
    = submit_tag "Search", class: 'btn btn-success'

- unless params[:search].nil? || params[:search].blank?
  %h3 Books
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:book)
        %th= model_class.human_attribute_name(:author)
        %th= model_class.human_attribute_name(:description)
        %th= model_class.human_attribute_name(:country)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - if @book_results.results.empty? && params[:search].present?
        %tr
          %td{colspan: 5} No matching results
      - @book_results.each_hit_with_result do |hit,book|
        = render partial: 'book', locals: {book: book, hit: hit}

- unless params[:search].nil? || params[:search].blank?
  %h3 Chapters
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:book)
        %th= model_class.human_attribute_name(:chapter)
        %th= model_class.human_attribute_name(:text)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - if @chapter_results.results.empty? && params[:search].present?
        %tr
          %td{colspan: 4} No matching results
      - @chapter_results.each_hit_with_result do |hit,chapter|
        = render partial: 'chapter', locals: {chapter: chapter, hit: hit}
